* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif; /* Optional: Add a default font-family */
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-container
{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
.form-group{
    margin-bottom:15px;

}
.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

    
}

.form-group input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
    border-radius:3px ;
}

.submit-btn{
    display: black;
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
    color: whitesmoke;
    border: none;
    border-radius:5px;
cursor: pointer;




}

.submit-btn:hover{
    background-color: #4565a0;

}
p{
    margin-top: 15px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}
